window
{
    background-color: black;
}

button
{
    background-color: black;
    margin-bottom: 16px;
}

button label
{
    color: white;
    background-color: black;
    font-size: xx-large;
    border-image-source: none;
}

button:hover label
{
    color: red;
    font-size: 32px;
    font-weight: bolder;
}