window
{
    background-image: url("../img/pong.png");
}

button
{
    background-color: black;
    margin-bottom: 24px;
    margin-right: 64px;
    border-radius: 16px;
    border-top-color: rgb(56, 56, 235);
    border-bottom-color: rgb(56, 56, 235);
    border-right-color: rgb(56, 56, 235);
    border-left-color: rgb(56, 56, 235);
}

button label
{
    letter-spacing: 16px;
    font-family: fantasy;
    color: white;
    background-color: transparent;
    font-size: 64px;
    border-image-source: none;
}

button:hover label
{
    color: red;
    font-size: 80px;
    font-weight: bolder;
}